# Ignore the dataset folder and data files
g-naf_nov24_allstates_gda2020_psv_1017/

BuildingComplexPoint_EPSG4326.json

Height of Building_EPSG4326.json

NSW Ambulance Station_EPSG4326.json

Stairs.geojson

Recreation_centres.geojson

Information_kiosks.geojson

Existing_Bicycle_Network_SPHERICAL_MERCATOR.json

Free_15_minute_parking.geojson

Residential_waste_recovery.geojson

Business_rate_category.geojson

UCL_SPHERICAL_MERCATOR.json

Ticket_parking_rates.geojson

Parking_permits_areas.geojson

LGA_NDD_Total_EPSG4326.json

DZN_SPHERICAL_MERCATOR.json

